<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NumberStyleAddAffiliation regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c8a2c0">  <td>18/11/08 10:50:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation01.Number_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@543e710e]">Number_Style_Add_AffiliationTest01</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="c8a2c0">  <td>18/11/08 11:12:45</td>   <td>1364420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation01.Number_Style_Add_AffiliationTest01()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@2a40cd94]">Number_Style_Add_AffiliationTest01</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="6e6aa2">  <td>18/11/08 10:54:06</td>   <td>245287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation02.Number_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3d0f8e03]">Number_Style_Add_AffiliationTest02</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="6e6aa2">  <td>18/11/08 11:17:24</td>   <td>1643202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation02.Number_Style_Add_AffiliationTest02()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3bd94634]">Number_Style_Add_AffiliationTest02</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b185bd">  <td>18/11/08 10:56:49</td>   <td>407707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation03.Number_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@6366ebe0]">Number_Style_Add_AffiliationTest03</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b185bd">  <td>18/11/08 11:20:07</td>   <td>1806201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation03.Number_Style_Add_AffiliationTest03()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@58a90037]">Number_Style_Add_AffiliationTest03</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="bf9d74">  <td>18/11/08 10:59:28</td>   <td>567031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation04.Number_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@57f23557]">Number_Style_Add_AffiliationTest04</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="bf9d74">  <td>18/11/08 11:22:50</td>   <td>1968841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation04.Number_Style_Add_AffiliationTest04()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@f4168b8]">Number_Style_Add_AffiliationTest04</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>18/11/08 11:02:07</td>   <td>726068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation05.Number_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@15bfd87]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/11/08 11:07:28</td>   <td>1046739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation08.Number_Style_Add_AffiliationTest05(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@2698dc7]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>18/11/08 11:25:32</td>   <td>2131634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation05.Number_Style_Add_AffiliationTest05()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@530612ba]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/11/08 11:30:57</td>   <td>2456043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation08.Number_Style_Add_AffiliationTest05(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@74294adb]">Number_Style_Add_AffiliationTest05</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="607aaf">  <td>18/11/08 11:04:34</td>   <td>872949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation06.Number_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@43d7741f]">Number_Style_Add_AffiliationTest06</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="607aaf">  <td>18/11/08 11:28:02</td>   <td>2281159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation06.Number_Style_Add_AffiliationTest06()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@70a9f84e]">Number_Style_Add_AffiliationTest06</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>18/11/08 11:07:00</td>   <td>1018713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation07.Number_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@61ca2dfa]">Number_Style_Add_AffiliationTest07</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="8663d3">  <td>18/11/08 11:30:31</td>   <td>2430465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation07.Number_Style_Add_AffiliationTest07()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@2df32bf7]">Number_Style_Add_AffiliationTest07</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>18/11/08 11:10:08</td>   <td>1207282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation09.Number_Style_Add_AffiliationTest09()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@17baae6e]">Number_Style_Add_AffiliationTest09</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>18/11/08 11:33:41</td>   <td>2620188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NumberStyleAddAffiliation09.Number_Style_Add_AffiliationTest09()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@130f889]">Number_Style_Add_AffiliationTest09</td> 
  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:53:48</td>   <td>227484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@543e710e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:56:31</td>   <td>389878</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3d0f8e03]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:59:10</td>   <td>549197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@6366ebe0]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:01:49</td>   <td>708303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@57f23557]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:04:16</td>   <td>855030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@15bfd87]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:06:42</td>   <td>1000909</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@43d7741f]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:07:10</td>   <td>1028854</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@61ca2dfa]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:09:50</td>   <td>1189519</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@2698dc7]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:12:21</td>   <td>1339970</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@17baae6e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:17:08</td>   <td>1627203</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@2a40cd94]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:19:51</td>   <td>1790483</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3bd94634]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:22:34</td>   <td>1953263</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@58a90037]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:25:17</td>   <td>2116096</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@f4168b8]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:27:46</td>   <td>2265363</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@530612ba]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:30:16</td>   <td>2414762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@70a9f84e]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:30:41</td>   <td>2440528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@2df32bf7]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:33:25</td>   <td>2604485</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@74294adb]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:36:00</td>   <td>2759074</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NumberBaseClass.closeApplication()[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@130f889]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:49:38</td>   <td>-23136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@543e710e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:53:52</td>   <td>231171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3d0f8e03]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:56:34</td>   <td>393575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@6366ebe0]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 10:59:14</td>   <td>552944</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@57f23557]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:01:53</td>   <td>712021</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@15bfd87]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:04:20</td>   <td>858829</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@43d7741f]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:06:45</td>   <td>1004658</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@61ca2dfa]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:07:13</td>   <td>1032583</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@2698dc7]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:09:54</td>   <td>1193218</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@17baae6e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:12:25</td>   <td>1343911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation01@2a40cd94]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:17:12</td>   <td>1631603</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation02@3bd94634]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:19:56</td>   <td>1794711</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation03@58a90037]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:22:38</td>   <td>1957507</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation04@f4168b8]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:25:21</td>   <td>2120144</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation05@530612ba]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:27:50</td>   <td>2269592</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation06@70a9f84e]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:30:20</td>   <td>2419038</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation07@2df32bf7]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:30:45</td>   <td>2444585</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation08@74294adb]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
<tr bgcolor="b27172">  <td>18/11/08 11:33:30</td>   <td>2608730</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NumberBaseClass.setupApplication(java.lang.String)[pri:0, instance:com.AuthorNameArea.NumberStyleAddAffiliation09@130f889]">&gt;&gt;setupApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306206744</td>   <td></td> </tr>
</table>
