<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestFigureCaption01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PE_OrcidTest02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PE_OrcidTest01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PE_OrcidTest04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PE_OrcidTest03</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LinkGenrationFuntionForChromePEFigureContain</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
