<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FigureContain regression test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:01:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TandF_EditorEndLinkGenChromeTest.LinkGenrationFuntionForChromePEFigureContain(java.lang.String)[pri:0, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">&gt;&gt;LinkGenrationFuntionForChromePEFigureContain</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:07:13</td>   <td>315246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TandF_EditorEndLinkGenChromeTest.PE_OrcidTest01()[pri:65, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">PE_OrcidTest01</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:07:41</td>   <td>343410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TandF_EditorEndLinkGenChromeTest.PE_OrcidTest02()[pri:66, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">PE_OrcidTest02</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:08:01</td>   <td>363373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TandF_EditorEndLinkGenChromeTest.PE_OrcidTest03()[pri:67, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">PE_OrcidTest03</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:08:41</td>   <td>402830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TandF_EditorEndLinkGenChromeTest.PE_OrcidTest04()[pri:68, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">PE_OrcidTest04</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:03:23</td>   <td>84822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TandF_EditorEndLinkGenChromeTest.TestFigureCaption01()[pri:2, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">TestFigureCaption01</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/17 13:08:58</td>   <td>420204</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TandF_EditorEndLinkGenChromeTest.tearDown()[pri:0, instance:com.LinkGenrationTestModule.TandF_EditorEndLinkGenChromeTest@5cb9f472]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
</table>
