<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8e6b">  <td>19/12/24 14:09:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChromeTest.startChromeBrowser(java.lang.String)[pri:0, instance:com.LinkGenrationTestModule.ChromeTest@48524010]">&gt;&gt;startChromeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076770748</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>19/12/24 14:10:28</td>   <td>48872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChromeTest.OrcidTest04()[pri:0, instance:com.LinkGenrationTestModule.ChromeTest@48524010]">OrcidTest04</td> 
  <td>main@1076770748</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>19/12/24 14:10:29</td>   <td>49162</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChromeTest.tearDown()[pri:0, instance:com.LinkGenrationTestModule.ChromeTest@48524010]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076770748</td>   <td></td> </tr>
</table>
